streamlit
uuid
tiktoken
loguru
faiss-cpu  
google-ai-generativelanguage==0.4.0
google-api-core==2.16.1
google-auth==2.27.0
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
googletrans-py39==4.0.2
huggingface-hub  
transformers  
pysqlite3-binary
langchain
chromadb
unstructured
sentence-transformers
faiss-cpu
tiktoken
openai
pypdf
loguru
docx2txt
