streamlit
uuid
loguru
faiss-cpu
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
googletrans
langchain-google-genai
huggingface-hub
transformers
pysqlite3-binary
langchain
chromadb
unstructured
sentence-transformers
pypdf
docx2txt
